---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="category-links">
    <div class="category-container">
      <a href="{{ site.baseurl }}/categories/audiovisual">
        <img src="{{ site.baseurl }}/assets/images/Audiovisual.png" alt="Audiovisual" class="category-image" />
        <p>Audiovisual</p>
      </a>
      <a href="{{ site.baseurl }}/categories/instrument-and-electronics">
        <img src="{{ site.baseurl }}/assets/images/instrElec.png" alt="Instrument and Electronics" class="category-image" />
        <p>Instrument and Electronics</p>
      </a>
      <a href="{{ site.baseurl }}/categories/livecoding">
        <img src="{{ site.baseurl }}/assets/images/Livecoding.png" alt="Live Coding" class="category-image" />
        <p>Live Coding</p>
      </a>
    </div>
  </div>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | : "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <div class="post-tags">
            {% if post %}
              {% assign tags = post.tags %}
            {% else %}
              {% assign tags = page.tags %}
            {% endif %}
            {% for tag in tags %}
            <i> tag: </i> 
            <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
          </div>
      </li>
      {%- endfor -%}
    </ul> -->

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
