---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="category-links">
    <div class="category-container">
      <a href="{{ site.baseurl }}/categories/audiovisual">
        <img src="{{ site.baseurl }}/assets/images/Audiovisual.png" alt="Audiovisual" class="category-image" />
        <p>Audiovisual</p>
      </a>
      <a href="{{ site.baseurl }}/categories/instrument-and-electronics">
        <img src="{{ site.baseurl }}/assets/images/instrElec.png" alt="Instrument and Electronics" class="category-image" />
        <p>Instrument and Electronics</p>
      </a>
      <a href="{{ site.baseurl }}/categories/livecoding">
        <img src="{{ site.baseurl }}/assets/images/Livecoding.png" alt="Live Coding" class="category-image" />
        <p>Live Coding</p>
      </a>
    </div>
  </div>
</div>
